#content {
	padding:100px 0;
	
}
.divider {
	float:left;
	width:100%;
	margin:20px 0;
}


.title {
	font-size:29px;
	color:#606b6a;
	.version {
		font-size:16px;
	}
}

#documentation {
	float:left;
	width:100%;
	margin-top:20px;
	font-family:Inconsolata;
	.sections {
		float:left;
		width:100%;
		margin-top:30px;
	}
	table thead, table tbody, table tbody tr, table tfoot {
		border:1px solid #ddd;
	}
	tbody {
		tr {
			td {
				&:first-child {
					font-size:14px;
					padding:0 10px;
				}
				&:last-child {
					font-size:14px;
					.code {
						float:left;
						width:100%;
						margin-top:2px;
						margin-left:-2px;
						span {
							background : #e5e5e5;
							padding:2px 5px;
							border-radius:2px;
							font-size:12px;
						}
					}
				}
			}
		}
	}
}

.steps {
	ol {
		li {
			float:left;
			width:100%;
			margin-bottom:30px;
			.step_name {

			}
			code {
				float:left;
				width:100%;
			}
		}
	}
}